
body {
	
    color: #565051;
    font: 400 0.8em 'Open Sans',sans-serif;
}	
div{
	font-family: Arial;		
	color: #000066;
}
span{		
	color: black;	
}
h3{	
	font-weight : 900;		
	font-style : normal;
	font-size : 20px;
	font-variant : small-caps;		
	color: #4E4E4E;
}
h2{	
	border: medium ;
    color: white;
    font: 400 17px 'Titillium Web',sans-serif;
    margin: 5px 0 10px;
    padding: 10px;
	background-color:#565051;
}
h1{	
	font-weight : 900;		
	font-style : normal;
	font-size : 1.5em;
	font-variant : small-caps;		
	color: #4E4E4E;
}
h4{
	font-family: Trebuchet, Verdana;
	font-size : 12px;
	color: #a52a2a;
}
h5{
	font-family: Trebuchet, Verdana;
	font-size : 12px;	
	color: #6D7B8D;
}
